<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- in general note.  these could also be defined (moved to) "CompositionRootJavaConfig.java" -->

    <!-- below are "imports" to OTHER (spring-bean) di.xml files -->

    <!-- note the "classpath:" prefix below. (because this di.xml file comes from a different gradle module/subproject.  See "4.7.2.2 The classpath*: prefix" at https://docs.spring.io/spring-framework/docs/3.0.0.M4/reference/html/ch04s07.html  -->
    <import resource="classpath:clientproxy.one.di.xml"/>

    <import resource="orchestrators.one.di.xml"/>



</beans>
