<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- in general note.  these could also be defined (moved to) "CompositionRootJavaConfig.java" -->

    <!-- below are "imports" to OTHER (spring-bean) di.xml files -->

    <import resource="clientproxy.one.di.xml"/>

    <import resource="orchestrators.one.di.xml"/>


</beans>
